.breakdown-by-stages {
  padding: 10px 12px 8px;

  &__header {
    margin-bottom: 4px;
  }

  &__title {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    h4 {
      margin: 0;
      font-size: 22px;
      line-height: 26px;
      color: #3f3f46;
    }

    svg {
      width: 14px;
      height: 14px;

      path {
        fill: #9ca3af;
      }
    }
  }

  .recharts-cartesian-grid-vertical line {
    stroke: #d9dee7;
  }

  .recharts-cartesian-axis-tick-value {
    fill: #4b5563;
  }
}
