@font-face {
  font-family: 'SomarRegular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Somar/Somar-Regular.ttf") format('woff');
}

@font-face {
  font-family: 'SomarMedium';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Somar/Somar-Medium.ttf") format('woff');
}

@font-face {
  font-family: 'SomarBold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Somar/Somar-Bold.ttf") format('woff');
}
