:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-light: #602650;
  --color-primary: #612551;
  --color-primary-tertiary: #815174;
  --color-tahakom-opacity: rgba(97, 37, 81, 0.1);
  --color-tahakom: #612551;
  --color-tahakom-10: #f4e8f2;
  --color-tahakom-80: #815174;
  --color-ongoing: #3b80aa;
  --color-ongoing-active: #3b80aa;
  --color-additional-1: #1ebac4;
  --color-additional-2: #aa3e98;
  --color-additional-3: #25c7bc;
  --color-additional-4: #AA723E;
  --color-additional-5: #C8245F;
  --color-waiting: #f32641;
  --color-grey-10: #f4f4f4;
  --color-grey-active: rgba(244, 244, 244, 0.8);
  --color-grey-20: #e5e6e4;
  --color-grey-30: #cfd2cd;
  --color-grey-40: #9d67aa;
  --color-grey-70: #9d67aa;
  --color-pending-approval: #9d67aa;
  --color-pending: #9d67aa;
  --color-selected: #DDEFFF;
  --color-highlight-1: #f4e8f2;
  --color-highlight-2: #D8F8DC;
  --color-highlight-3: #fffbdb;
  --color-highlight-4: #F8E2DD;
  --color-highlight-5: #F7EFDA;
  --color-highlight-6: #F9E5EE;
  --color-highlight-7: #F7E2CF;
  --color-highlight-8: #FFD5E4;

  --color-primary-900: #082B29;
  --color-primary-700: #18817A;
  --color-primary-500: #25C7BC;
  --color-primary-200: #9DFFFD;
  --color-primary-50: #F0FFFE;

  --color-secondary-900: #250E1E;
  --color-secondary-700: #6E2B5A;
  --color-secondary-500: #61264F;
  --color-secondary-200: #E2B6D5;
  --color-secondary-50: #F8EDF4;

  --color-neutral-900: #000000;
  --color-neutral-700: #4D4D4D;
  --color-neutral-500: #000000;
  --color-neutral-200: #CCCCCC;
  --color-neutral-50: #F2F2F2;

  --color-warning-900: #331800;
  --color-warning-700: #995200;
  --color-warning-500: #FF8800;
  --color-warning-200: #FFCF99;
  --color-warning-50: #FFF3E5;

  --color-success-900: #033000;
  --color-success-700: #009027;
  --color-success-500: #00A620;
  --color-success-200: #9FF983;
  --color-success-50: #E7FDEC;

  --color-error-900: #0B2B29;
  --color-error-700: #9101A1;
  --color-error-500: #25C7BC;
  --color-error-200: #FA9EAB;
  --color-error-50: #FEE7EA;

  --color-info-900: #031230;
  --color-info-700: #093690;
  --color-info-500: #083FA6;
  --color-info-200: #9FBDF9;
  --color-info-50: #EF7DEC;

  --header-height: 64px;
  --nav-width: 236px;

}